<div class="row">
  <div class="col-md-12">
    <!--导航区-->
    <app-navigate></app-navigate>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!--轮播区-->
    <app-carouselforindex></app-carouselforindex>
  </div>
</div>
    <!--单页区-->
<app-splistforindex></app-splistforindex>

<div class="row">
  <div class="col-md-4">
    <!--新闻列表区-->
    <app-newslistforindex></app-newslistforindex>
  </div>
  <div class="col-md-4">
    <!--视频列表区-->
  <app-videolistforindex></app-videolistforindex>
  </div>
  <div class="col-md-4">
    <!--音频列表区-->
  <app-audiolistforindex></app-audiolistforindex>
  </div>
</div>

<div>
  <div class="col-md-12">
    <footer class="container text-center">
      <p>&copy; 2017-2020 何云辉, 201721400126. &middot; <a>Privacy</a> &middot; <a>Terms</a></p>
    </footer>
  </div>
</div>
